<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MoReceiver</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.cookiss.moreceiver.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GenericReceiver</display-name>
    <servlet-name>GenericReceiver</servlet-name>
    <servlet-class>com.cookiss.moreceiver.GenericReceiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericReceiver</servlet-name>
    <url-pattern>/GenericReceiver</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/cookiss3?user=root&amp;password=root&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;maxReconnects=10</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrlOnehub</param-name>
    <param-value>jdbc:mysql://localhost:3306/cookiss4?user=root&amp;password=root&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;maxReconnects=10</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrlDigi</param-name>
    <param-value>jdbc:mysql://localhost:3306/cookiss_digi?user=root&amp;password=root&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;maxReconnects=10</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/conf/log4j.properties</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>GenericRecevierOneHub</display-name>
    <servlet-name>GenericRecevierOneHub</servlet-name>
    <servlet-class>com.cookiss.moreceiver.GenericRecevierOneHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericRecevierOneHub</servlet-name>
    <url-pattern>/GenericRecevierOneHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericReceiverDigi</display-name>
    <servlet-name>GenericReceiverDigi</servlet-name>
    <servlet-class>com.cookiss.moreceiver.GenericReceiverDigi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericReceiverDigi</servlet-name>
    <url-pattern>/GenericReceiverDigi</url-pattern>
  </servlet-mapping>
</web-app>